html{
    display: grid;
    justify-content: center;
    align-items: center;
}
body{
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 1fr;
    grid-template-rows: 3fr;
    background-color: black;
}
.head{
    background-color: beige;
    width: 90px;
    height: 90px;
    border-radius: 60px;
    justify-self: center;
}
.body{
    background-color: beige;
    width: 250px;
    height: 300px;
    border-radius: 45px;
}
.base{
    display: flex;
}
.legs{
    background-color: beige;
    width: 80px;
    height: 450px;
    border-radius: 25px;
    justify-self: center;
    gap: 45px;
}